<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!-- The switchId that the recorder is handling. -->
		<add key="UCMARecorder.switchId" value="11001"/>

		<!-- The URI at which this service will be hosted. -->
		<!-- NOTE: Should be in the format net.tcp://HOSTNAME:PORT/SERVICENAME -->
		<add key="UCMARecorderHost.serviceUri" value="net.tcp://localhost:9201/iceRecorder"/>

		<!-- The URI of the RecordingManager that this recorder will work with -->
		<add key="UCMARecorder.recordingManagerUri" value="net.tcp://localhost:9001/iceRecordingManager"/>
		
		<!-- The certificate serial number of the certifiacte used by the service to identify this server for server authentication -->
		<!-- NOTE: If specified then it will use secure channels, if not then it will use unsecure channels -->
		<add key="UCMARecorderHost.hostCertSerial" value=""/>

		<!-- The shared password used to verify the client is allowed to connect to the server. -->
		<!-- IMPORTANT: A shared password can only be used on secured connection. If the connection is unsecure then the shared password will be ignored. -->
		<!-- NOTE: If the server is setup with a sharedPassword, then so should the client. -->
		<add key="UCMARecorderHost.sharedPassword" value=""/>
		
		<!-- The maximum number of audio session that the recorder can handle -->
		<add key="UCMARecorder.audioSessionLimit" value="100"/>

		<!-- If we should delete recordings on a fault or if we should keep them. -->
		<add key="UCMARecorder.discardRecOnFault" value="false"/>
		
		<!-- The timeout interval in ms between registration verification attempts -->
		<add key="UCMARecorder.registrationIdleTimeout" value="30000"/>

		<!-- The timeout interval in ms between registration attemps after a failed registration -->
		<!-- WARNING: Make sure this value is at maximum around one third of the RecordingManager.recorderRegTimeout -->
		<add key="UCMARecorder.registrationFailedRetryTimeout" value="10000"/>
		
		<!-- The timeout interval in ms between AppEndpoint re-establishment attemps  -->
		<add key="UCMARecorder.appEndpointFailureTimeout" value="10000"/>

		<!-- The threshold at which we will log an error for files being trimmed that are either over or under by the specified amount (ms) -->
		<add key="UCMARecorder.trimmerOverUnderThreshold" value="10000"/>

		<!-- The folder where the recorder will store temporary files as they are being recorded and trimmed -->
		<add key="UCMARecorder.recordingsFolder" value="C:\ice\RecordersTemp\CONTEXT_#\"/>

		<!-- The maximum size in MB that the fautled folder should be before triggering error level messages. -->
		<add key="UCMARecorder.faultedSizeMonitor" value="200"/>

		<!-- If we should delete files using sdelete. -->
		<add key="UCMARecorder.secureDelete" value="false"/>

		<!-- If we should trim the file instead of adding in additional privacy if the call ends with privacy on. -->
		<add key="UCMARecorder.trimPrivacyAtEndOfCall" value="false"/>

		<!-- ********** START OF UCMA APP PROVISIONING INFORMATION ********** -->
		
		<!-- The certificate serial number of the certifiacte used by the service for UCMA communication with Lync -->
		<add key="UCMARecorder.UCMA_certSerial" value="--Serial--"/>
		
		<!-- The FQDN of the Lync Front End server or server pool -->
		<add key="UCMARecorder.UCMA_LyncFQDN" value="--lyncFePool--"/>
		
		<!-- The port for the applications to connect to Lync with. Typically 5061 for TLS. -->
		<add key="UCMARecorder.UCMA_LyncPort" value="5061"/>
		
		<!-- The name of the application that was provisioned -->
		<add key="UCMARecorder.UCMA_ApplicationName" value="--APP_Name--"/>
		
		<!-- The FQDN of the host where this service will run -->
		<add key="UCMARecorder.UCMA_ApplicationFQDN" value="--APP_FQDN--"/>
		
		<!-- The port which this UCMA application will listen on for request from Lync -->
		<add key="UCMARecorder.UCMA_ApplicationPort" value="10101"/>
		
		<!-- The ServerGruu as generated by Lync in the provisioning steps -->
		<add key="UCMARecorder.UCMA_ServerGruu" value="--SERVER_GRUU--"/>
		
		<!-- The account which the UCMA application will run as -->
		<add key="UCMARecorder.UCMA_OwnerUri" value="--OWNER_URI--"/>
		
		<!-- ********** END OF UCMA APP PROVISIONING INFORMATION ********** -->
	</appSettings>
	<startup useLegacyV2RuntimeActivationPolicy="true">
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7"/>
	</startup>
	<!-- Allow catching of AccessViolation -->
	<runtime>
		<legacyCorruptedStateExceptionsPolicy enabled="true"/>
	</runtime>
</configuration>